::selection{background-color:none; color:inherit;}

body{
    margin: 0;
    background-color: #333;
}

.l, .r {
    position: absolute;
    width: 98vw;
    padding: 0 1vw;
    height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.r {
    top: 50vh;
}

.l > *, .r > * {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    height: 100%;
}

button {
    display: block;
    width: 128px;
    height: 32px;
    color: #FFF;
    background-color: rgba(0,0,0,0);
    font-size: 1em;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    border: 1px solid rgba(255,255,255,.5);
}

/*
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}*/