::selection{background-color:none; color:inherit;}

body{
  background-color: rgb(194, 165, 148); 
}

.musickeyboard{
    width:1100px; height: 200px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
    border-radius: 9px;
    padding: 10px;
   
    color: rgb(54, 87, 66);
}

.whitekey{
    width: 40px; height:200px;
    display:block;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 8px;
    line-height: 29px;
    border-radius:2px;
    float:left; margin-left: 2px;
    margin-bottom:2px;
    cursor: pointer;
    transition: box-shadow 0.7s ease;
}

.keyboard{
    width:800px; height: 320px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    border-radius: 9px;
    padding: 30px;
    color: rgb(57, 255, 7);
  }

.key{
  width: 40px; height:40px;
  display:block;
  background-color: rgb(100, 97, 112);
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius:2px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
}

.key:hover{box-shadow:0px 0px 10px rgb(240, 139, 80); z-index:1000;}

.whitekey:hover{box-shadow:0px 0px 10px rgb(240, 139, 80); z-index:1000;}